h1 {
  font-family: 'Didot', serif;
  font-size:52px;
  Position: relative;
  text-align:center;

}
  h2 {
    text-alighn: center;
    font-family: 'Didot', serif;}

  p {
    font-family: 'Didot', serif;
    font-size:52px;
    text-alighn: left-align;
  }

ul{
  color: black;
  text-alighn: left;
  font-family: 'didot', serif;}

  /*---Media Queries---*/
  @media screen and (max-width: 1000px) {
    body {
      background-color: #90604C;
  }
  }

  @media screen and (max-width: 500px) {
    body {
      background-color: #B98E77;
  }
  }

  @media screen and (max-width: 250px) {
    body {
      background-color: #C0A290;
  }
  }
