* {
Background-color: none;
}

h1 {
  font-family: 'Didot', serif;;
  font-size:52px;
  Position: relative;
  text-align:center;

}
  h2 {
    text-align: left;
    font-size:36px;
    font-family: 'Didot', serif;}

    h3 {
      text-align: center;
      font-size:32px;
      font-family: 'Helvetica', sans-serif;}

  p {
    text-align: left-align;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif;
  }

@-ms-viewport{
  width: device-width;
  <meta name="viewport" content="width=device-width, initial-scale=1">
}

.para1 {
font-style: normal;
float: left;
padding: 20% 20%
}

.para2 {
  font-style: normal;
  float:left;
}

.img1 {
  float: left;
}

.container {
  width: 100%;

}

.img1, .para2, .para1 {
  width: 40%;


}
