* {
Background-color: none;
}

h1 {
  font-family: 'Didot', serif;;
  font-size:52px;
  Position: relative;
  text-align:center;

}
  h2 {
    text-align: left;
    font-size:36px;
    font-family: 'Didot', serif;}

    h3 {
      text-align: center;
      font-size:32px;
      font-family: 'Helvetica', sans-serif;}

  p {
    text-align: left-align;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif;
  }

@-ms-viewport{
  width: device-width;
}

<meta name="viewport" content="width=device-width, initial-scale=1">

.para1 {
font-style: normal;
text-align:left;
line-height: 18px
width: 326px;
height: 286px;

}
