h1 {
  font-family: 'Didot', serif;
  font-size:52px;
  Position: relative;
  text-align:center;

}
  h2 {
    text-alighn: center;
    font-family: 'Didot', serif;}

  p {
    text-alighn: left-align;
    font-family: 'Didot', serif;}

ul{
  color: black;
  text-alighn: left;
  font-family: 'didot', serif;}

.container {
  background-image: url(The Globetrotters.png);
  height:700px;
  margin: 0 auto;
  width:50%;

}

h1 {
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;

}
