h1 {
  font-family: 'Didot', serif;
  font-size:52px;
  Position: relative;
  text-align:center;

}
  h2 {
    text-alighn: center;
    font-family: 'Didot', serif;}

    p {
      text-alighn: left-align;
      font-family: 'Didot', serif;}

ul{
  color: black;
  text-alighn: left;
  font-family: 'didot', serif;}

  button {
    background-color: #E9E6E1;
    border: none;
    color: black;
    font-family: 'Didot', serif;
    text-transformation: uppercase;
    padding: 1em 2em 1em 2em;
  }

.padding-hover:hover {
  Background-color: Grey;
  color: white;
  text-decoration: underline;
}
