h1 {
  font-family: 'Didot', serif;
  font-size:52px;
  Position: relative;
  text-align:center;

}
  h2 {
    text-align: center;
    font-family: 'Didot', serif;}

  p {
    text-align: left-align;
    font-family: 'Didot', serif;}

ul{
  color: black;
  text-align: left;
  font-family: 'didot', serif;}


  button {

    background-color: #E9E6E1;
    border: none;
    color: black;
    font-family: 'Didot', serif;
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
  }

a:hover { color: #968484; text-decoration: none;}

.padding-hover:hover {
  Background-color: Gray;
  color: white;
  text-decoration: underline;
}
