
  button {
    background-color: #E9E6E1;
    border: none;
    color: white;
    font-family: 'Didot', serif;
    text-transformation: uppercase;
    padding: 1em 2em 1em 2em;
  }

.padding-hover:hover {
  Background-color: Grey;
  color: white;
  text-decoration: underline;
}
